* {
    margin: 0;
    padding: 0;
}

.container {
    font-size: 2rem;
    max-width: 600px;
    margin: 20vh auto 0 auto;
    text-align: center;
}

.formulario {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #696969;
    border-radius: 30px;
    box-shadow: 0 0 1em black;
}

.caixa_texto {
    margin: .5rem 0;
    padding: .2rem .5rem;
    max-width: 80%;
}

.container__resultado {
    margin-top: 2rem;
}

.caixa_resultado {
    max-width: 80%;
}

@media screen and (min-width: 0) {
    .container {
        font-size: 1rem;
    }

    .caixa_texto {
        font-size: 1rem;
    }

    .botao {
        font-size: 1rem;
        padding: .2rem;
        margin: .2rem;
    }
}

@media screen and (min-width: 800) {
    .container {
        font-size: 2rem;
    }

    .caixa_texto {
        font-size: 2rem;
    }

    .botao {
        font-size: 2rem;
        padding: .5rem;
        margin: .5rem;
    }
    
}